<div class="container" id="section_2">
    <h2 class="mb-5 title"><u class="text-info">References</u></h2>
    <div class="image-container">
        <img src="../../assets/images/reference/ref1.png" alt="Image 1">
        <img src="../../assets/images/reference/ref2.png" alt="Image 2">
        <img src="../../assets/images/reference/ref3.jfif" alt="Image 3">
        <img src="../../assets/images/reference/ref4.png" alt="Image 4">
        <img src="../../assets/images/reference/ref5.png" alt="Image 5">
        <img src="../../assets/images/reference/ref6.png" alt="Image 6">
    </div>
</div>