<div id="carouselExample" class="carousel slide" style="height: 620px;width: 100%;">
    <div id="section_1" class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/images/dig.jpg" class="d-block w-100" alt="Society Image">
            <div class="carousel-overlay">
                <h2 class="overlay-text mb-5"><u class="text-info">About Our Society</u></h2>
                <p class="overlay-description">"Digi Smart Solutions is a Tunisian startup labeled since September 2019,
                    we develop innovative solutions for the monitoring and intelligent management of water quality based
                    on IOT and AI tools, to be deployed in several sectors"</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/digi3.jpg" class="d-block w-100" alt="Society Image">
            <div class="carousel-overlay">
                <h2 class="overlay-text mb-5"><u class="text-info">About Our Society</u></h2>
                <p class="overlay-description">"Digi Smart Solutions is a Tunisian startup labeled since September 2019,
                    we develop innovative solutions for the monitoring and intelligent management of water quality based
                    on IOT and AI tools, to be deployed in several sectors"</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/dig2.jpg" class="d-block w-100" alt="Society Image">
            <div class="carousel-overlay">
                <h2 class="overlay-text mb-5"><u class="text-info">About Our Society</u></h2>
                <p class="overlay-description">"Digi Smart Solutions is a Tunisian startup labeled since September 2019,
                    we develop innovative solutions for the monitoring and intelligent management of water quality based
                    on IOT and AI tools, to be deployed in several sectors"</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>