
<div id="section_5">
    <div class="event-container">
        <h2 class="mb-5" style="text-align: center;"><u class="text-info">Events</u></h2>
        <div class="event-card-container" *ngFor="let e of events">
            <div class="card">
                <a [href]="e.link"><img class="card-img-top" [src]="e.image" alt="APII"></a>
                <div class="card-body">
                    <h5 class="card-title">{{e.event_name}}</h5>
                    <p>{{e.description}}</p>
                    <p class="card-text"><i class="bi bi-calendar"></i> {{e.date}}</p>
                    <p class="card-text"><i class="bi bi-geo-alt-fill"></i> {{e.location}}</p>
                </div>
            </div>
        </div>
    </div>
</div>