
<div id="section_5">
    <div class="event-container">
        <h2 class="title mb-5 text-center"><u class="text-info">Events</u></h2>
        <div class="event-card-container">
            <div class="card" *ngFor="let e of events">
                <a [href]="e.link"><img style="width: 300px; height: 200px;" 
                    [src]="'data:image/jpeg;base64,' + e.eventImage?.userImage" alt=""></a>
                <div class="card-body">
                    <h5 class="card-title">{{e.event_name}}</h5>
                    <p>{{e.description}}</p>
                    <p class="card-text"><i class="bi bi-calendar"></i> {{e.date}}</p>
                    <p class="card-text"><i class="bi bi-geo-alt-fill"></i> {{e.location}}</p>
                </div>
            </div>
        </div>
    </div>
</div>