<div class="container" id="section_3">
    <h2 class="mb-5 title"><u class="text-info">Partners</u></h2>
    <div class="image-container">
        <img src="../../assets/images/partenaires/part1.jpg" alt="Image 1">
        <img src="../../assets/images/partenaires/part2.png" alt="Image 2">
        <img src="../../assets/images/partenaires/part3.png" alt="Image 3">
        <img src="../../assets/images/partenaires/part4.gif" alt="Image 4">
        <img src="../../assets/images/partenaires/part5.png" alt="Image 5">
        <img src="../../assets/images/partenaires/part6.jfif" alt="Image 6">
        <img src="../../assets/images/partenaires/part7.png" alt="Image 7">
        <img src="../../assets/images/partenaires/part8.png" alt="Image 8">
        <img src="../../assets/images/partenaires/part9.png" alt="Image 9">
        <img src="../../assets/images/partenaires/part10.jpg" alt="Image 10">
    </div>
</div>