.container {
  margin-bottom: 20px;
}

.image-container {
  position: relative;
  height: 30vh; /* Ajustez la hauteur selon vos besoins */
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between; /* Ajustez selon vos préférences */
  animation: slideAnimation 5s linear infinite alternate; /* Ajustez la durée et le type d'animation selon vos préférences */
}

.image-container img {
  width: 100px; 
  height: 100px; 
  margin: 5px;
  border-radius: 50%; 
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100% - 100px)); 
  }
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .image-container img {
    width: 80px;
  }
}

@media screen and (max-width: 576px) {
  .image-container img {
    width: 60px; 
  }
}
