<div class="container" id="section_4">
    <h2 class="mb-5 title"><u class="text-info">Medias</u></h2>
    <div class="image-container">
        <img src="../../assets/images/medias/med4.png" alt="Image 4">
        <img src="../../assets/images/medias/med2.png" alt="Image 2">
        <img src="../../assets/images/medias/med3.jpg" alt="Image 3">
        <img src="../../assets/images/medias/med4.png" alt="Image 4">
        <img src="../../assets/images/medias/med1.png" alt="Image 1">
        <img src="../../assets/images/medias/med5.png" alt="Image 5">
        
    </div>
</div>