<section class="venue section-padding" id="section_6">
    <div class="container">
        <div class="row" style="display: flex; align-content: space-around;">

            <div class="col-lg-12 col-12">
                <h2 class="mb-5" style="text-align: center;"><u class="text-info">Location</u></h2>
            </div>

            <div class="col-lg-6 col-12 mb-4">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.8528995066004!2d10.184502575692099!3d36.89386717222061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cb68182949f3%3A0x6457c8606d67f38e!2sDIGI%20SMART%20SOLUTIONS!5e0!3m2!1sfr!2stn!4v1705963055672!5m2!1sfr!2stn"
                    width="600" height="450" style="border:1px;width: 600px;height: 390px;border-radius: 10px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                <div class="venue-thumb bg-white shadow-lg">

                    <div class="venue-info-title">
                        <h2 class="text-white mb-0">Digi Smart Solutions</h2>
                    </div>

                    <div class="venue-info-body">
                        <h4 class="d-flex">
                            <i class="bi-geo-alt me-2"></i>
                            <span>Pôle El Ghazala, B21, 2088</span>
                        </h4>

                        <h5 class="mt-4 mb-3">
                            <a href="mailto:contact@dig2s.com">
                                <i class="bi-envelope me-2"></i>
                                contact@dig2s.com
                            </a>
                        </h5>

                        <h5 class="mt-4 mb-3">
                            <a href="mailto:contact@dig2s.com">
                                <i class="bi-envelope me-2"></i>
                                bohli.afef@dig2s.com 
                            </a>
                        </h5>

                        <h5 class="mb-0">
                            <a href="tel: +216 93 170 183">
                                <i class="bi-telephone me-2"></i>
                                +216 93 170 183
                            </a>
                        </h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>